body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

button{

}


#main-container {
    display: flex;
    flex-direction: row;
    flex: 1; /* Para ocupar el espacio restante debajo del header */
    height: 100%;
}
#chats-user {
    width: 20%;
}
#chats button{
    width: 90%;
    margin: 1% 5%; 
    padding: 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
} 
#chats button:first-child{
    margin-top: 10%;
} 
#chatbot {
    width: 80%;
    display: flex;
    flex-direction: column;
}
#chat-container {
    flex: 1; /* Para ocupar el espacio restante del padre */
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}
.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}
.user-message {
    align-self: flex-end;
    background-color: #dcf8c6;
}
.bot-message {
    align-self: flex-start;
    background-color: #e6e6e6;
}
#input-container {
    display: flex;
    padding: 10px;
    background-color: #333;
}
#input-container input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}
#input-container button {
    padding: 10px;
    border: none;
    background-color: #575757;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}